<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fakeghost.bbs.model.UserMapper">
   <!-- Because we have defined typeAlias 'User' in mybatis.xml, Here we can just drop 'type=User' omitting fully qualified package name -->
	<resultMap id="userMap" type="User" >
		<id column="id" property="id"  />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
	</resultMap>

	<insert id="register" >
		insert into user(id, nickname, password) values(#{id},#{nickname},#{password})
	</insert>

	<select id="users" resultMap="userMap" parameterType="Integer">
		SELECT
      ID, NICKNAME, password
		FROM
         user
    <if test="value != null" >
		WHERE id = #{value}
    </if>
		ORDER BY id DESC
			limit 0, 32;
	</select>
	<select id="user" resultMap="userMap">
		SELECT
      ID, NICKNAME, password
		FROM
         user
		WHERE
         nickname = #{nickname}
         and password = #{password}
		ORDER BY id DESC
			limit 0, 1;
	</select>
</mapper>
